html, body{
	margin: 0;
	padding: 0;
	height: auto;
	background: url(../assets/questionbg3.jpg) no-repeat center center fixed;
	font-family: 'Ubuntu', sans-serif;
}

/* modal controller */
.server-info {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-area {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  	font-family: 'Ubuntu', sans-serif;
  	font-weight: bold;
  	font-size: 20px;
}
.cancel {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cancel:hover,
.cancel:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#container {
	width: 100%;
	height: auto;
	opacity: 0.97;
}
#container div {
	display: block;
}

#title-bar {
	box-shadow: 0 8px 6px -6px black;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 8px;
	z-index: 9999;
	width: 100%;
	height: 60px;
	background: url(../assets/bg3.jpg) repeat;
}
#hello{
	letter-spacing: 0.2em;
	font-weight: bold;
	text-decoration: underline;
	color: rgba(255, 234, 0, 0.9);
}
.logo-name {
	padding-top: 5px;
	width: 35%;
	height: 50px;
	float: left;
	font-size: 18px;
	letter-spacing: 0.2em;
	padding-left: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.siteName{
	left: -10px;
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: rgba(255, 234, 245, 0.9);
}
.siteName:visited{
	color: rgba(255, 234, 245, 0.9);
}
#logo{
	width: 35px;
	height: 35px;
}
.search-box {
	width: 20%;
	height: 50px;
	float: left;
}
#search-input{
	width: 150px;
	height: 30px;
	font-size: 18px;
	border-radius: 15px;
	padding: 6px;
	border-bottom: 1px #ddd solid;
	transition: all 300ms linear;
}
#search-input:focus{
	border-radius: 0;
}
 #profile {
  float: right;
	width: 30%;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0em;
  color: white;
  padding: 3px;
  border-radius: 4px;
  margin-top: 10px;
}
#profile a{
	background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 4px;
  color: rgba(255, 234, 0, 0.87);
  text-decoration: none;
  margin-right: 4%;
}

#submit{
	margin: 10px 100px;
	width: 150px;
	height: 60px;
	border-radius: 15px;
	border-bottom: 2px black solid;
	font-size: 18px;
	box-shadow: 0 2px 2px 0 #000;
}
.user-image{
	width: 24px;
	height: 24px;
	margin-top: 4px;
}

#main-content-area {
	padding-top: 63px;
	height: 1100px;
	width: 100%;
	background: rgba(0,0,0,0.3);
	/*
	overflow: scroll;*/
}
#guest-container{
	margin: 50px 0;
	background-color: #008CBA;
	opacity: 1;
}
#main-content-container {
	color: white;
  font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	line-height: 1.1em;
	margin-left: 5%;
	margin-top: 8px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 15px;
	float: left;
	width: 85%;
  height: 55%;
  opacity: 0.8;
  background-color: black;
}

.questions-area{
	padding: 10px;
	width: auto;
	height: auto;
	background-color: #aeaeae;
	border-radius: 5px;
}
#questions{
	margin: 6px;
	padding: 5px;
	background-color: rgba(46, 98, 116, 0.9); 
	border-right: 10px #000 solid;
	box-shadow: 0 2px 2px rgba(0,0,0,0.6);
	font-size: 20px;
	color:  white;
	-moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
#questions a{
	color: white;
}
#questions input{
	font-weight: bold;
}
#questions p{
	display: inline;
}
.answers{
	margin: 8px;
	border: 2px #ccc solid;
	padding: 5px;
	width: auto;
	height: auto;
	font-size: 18px;
	transition: all 1000ms linear;
}
.answers input{
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}
.accepted{
	border-right: 10px #0f0 solid;
}
.votes{
	margin: 5px;
}
.votes span{
	margin: 0 4px;
	padding: 3px;
	border-left: 2px grey solid;
	border-right: 2px grey solid;
	border-radius: 5px;
}
.votes a{
	text-decoration: none;
	font-weight: bold;
	color: rgba(255, 234, 0, 0.87);
}
.comments{
	margin: 10px;
	border: 2px #000 solid;
	padding: 5px;
	width: auto;
	height: auto;
	background: gray;
	color: #fff;
	font-size: 14px;
}
#add-comment-handle{

}
.show{
	display: block;
}
#comment-form{
	margin: 10px;
	width: auto;
	height: auto;
	font-weight: bold;
	border-bottom: 3px #000 solid;
	border-left: 3px #000 solid;
	border-right: 3px #000 solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#comment-form textarea{
	margin: 20px;
	padding: 3px;
	width: 92%;
	height: 40px;
}
#comment-form input{
	margin: 3px 40%;
	padding: 3px;
	width: 15%;
	font-weight: bolder;
}

#add-answer, #add-question{
	background-color: #008CBA;
	margin: 6px;
	border-top: 3px #000 solid;
	padding: 5px;
	width: auto;
	height: 250px;
	color: black;
	font-size: 14px;
	border-radius: 8px;
}
#add-answer textarea, #add-question textarea{
	margin: 20px;
	padding: 3px;
	width: 90%;
	height: 150px;
	border: 2px #000 solid;
}
#add-answer input, #add-question input{
	margin: 5px 30%;
	background-color: rgb(46, 98, 116);
	color: white;
	box-shadow: 0 2px 2px #ccc;
	font-size: 24px;
	font-weight: bold;
	height: 40px;
	width: 240px;

}

button.delete-question, button.accept-answer{
	background-color: #fefefe;
  padding: 2px;
  border: 1px solid #888;
  width: 150px;
  height: 25px;
  border-radius: 4px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-align: center;
	float: right;
	margin-top: -17px;
}


#footer {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
	box-shadow: 0 8px 6px 9px black;
	position: fixed;
	height: 30px;
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background: url(../assets/bg3.jpg) repeat;
	text-align: center;
	z-index: 9999;
	color: white;
}

#footer a{
  color: white;
}
#footer a:visited{
  color: white;
}

#profile-panel{
	margin: 6px;
	padding-top: 10px;
	background-color: rgba(10, 9, 9, 0.7); 
	box-shadow: 0 2px 2px rgba(0,0,0,0.6);
	font-size: 20px;
	padding-left: 20px;
	height: 400px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
#askhead{
	color: white;
}
#profile-panel h1, h4{
	text-decoration: underline;
	margin: 10px inherit;
}
#profile-holder{
	width: auto;
	height: auto;
}
.avatar {
    vertical-align: middle;
    width: 25%;
    height: 25%;
}

#user-info{
	color: white;
	width: 63%;
	height: 180px;
	padding: 10px;
	margin-left: 285px;
	margin-top: -20%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #444;
	box-shadow: 0px 2px 2px  #000;
}
#user-pecks{
	color: white;
	line-height: 2rem;
	letter-spacing: 0.1em;
	width: 90%;
	height: auto;
	margin-bottom: 40px;
	background-color: rgb(61, 115, 201);
	box-shadow: 0px 2px 2px 2px  #000 inset;
	padding: 10px;
}
#user-pecks a{
	text-decoration: none;
	transition: all 200ms linear;
	width: 80%;
	color: white;
}
#user-pecks a:hover{
	text-decoration: underline;
}
span#askq{
	font-weight: bold;
	margin-left: 20px;
	text-decoration: underline;
}
strong#username{
	color: rgba(255, 234, 0, 1);
}
@media only screen and (max-width: 950px) {
    #feature-panel{
			position: relative;
			width: 100%;
			height: auto;
			margin-top: -60px;
			margin-left: 0px;
		}
		fieldset{
			width: 100%;
			font-weight: bold;
			margin-left: 4px;
			margin-top: -40px;
		}
		#main-content-container {
			width: 90%;
			height: 70%;
			margin-top:-10px;
			margin-left: 5px;
		}
		.logo-name {
			font-size: 0px;
		}
		.logo-name a{
			font-size: 0px;
		}
		#search-input{
			width: 40%;
			border-radius: 6px;
			padding: 6px;
			border-bottom: 1px #ddd solid;
			transition: all 300ms linear;
		}
		.search-box {
			width: 20%;
			height: 50px;
			margin-left: -20%;
		}
		#profile {
			top: -20px;
			width: 65%;
			height: 50px;
			float: right;
			font-size: 18px;
			font-weight: bold;
			margin-left: -20px;
		}
		#user-info{
			width: 50%;
			margin-top: -100px;
			margin-left: 30%;
		} 
		#user-pecks{
			width: 87%;
		}
		#add-answer input, #add-question input{
			margin: 5px auto;
			background-color: rgb(69, 69, 134);
			color: white;
			box-shadow: 0 2px 2px #ccc;
			font-size: 24px;
			font-weight: bold;
			height: 40px;
			width: 90%;
		}
}