@import 'https://fonts.googleapis.com/css?family=Prompt:400,700';


body {
	font: 15px/1.5 'Prompt', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#logo {
	height: 50px;
	width: 50px;
}

ul {
	margin: 0;
	padding: 0;
}

.button_1 {
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* Header */
header {
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
	position: fixed;
	width: 100%;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 15px;
}

header .highlight, header .current a {
	color: #e8491d;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

/* Showcase */
#showcase {
	min-height: 500px;
	background: url('../assets/qbg3.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #35424a;
}

#showcase h1 {
	margin-top: 150px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p {
	font-size: 20px;
}

/* Boxes */
#boxes {
	margin: 70px 5%;
}

#boxes .box {
	float: left;
	width: 40%;
	padding: 10px;
	text-align: center;
	background: #fff;
  border-radius: 2px;
  height: 300px;
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#boxes .box:hover {
	box-shadow: 0 9px 10px rgba(0,0,0,0.25), 0 9px 10px rgba(0,0,0,0.22);
}

#boxes .box img {
	width: 150px;
}

footer {
	padding: 20px;
	margin-top: 0px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
}


/* Modal: SignUp and Login */

.modal {
  display: block;
  width: 90%;
  max-width: 100%;
  height: 90%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  border-radius: 2%;
  transform: translate(-50%, -50%);
  background: #f4f4f4;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
  font-family: 'Prompt', sans-serif;
}

.loginbox {
	width: 80%;
	height: 420px;
	background: #d4d4d4;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 70px 30px;
	border-radius: 5px;
}

.loginbox .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.loginbox h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login box p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input {
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"], input[type="email"] {
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
}

.loginbox #signup-submit-button {
	border: none;
	outline: none;
	height: 40px;
	background: #000088;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 20px;
}

.loginbox #login-submit-button {
	border: none;
	outline: none;
	height: 40px;
	background: #e8491d;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-radius: 20px;
}

.loginbox #login-submit-button:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox #signup-submit-button:hover {
	cursor: pointer;
	background: #0100ff;
	color: #fff;
}

/* Login loader */
#loader {
	vertical-align: middle;
	width: 60px;
	height: 60px;
	margin: 4px auto;
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  border-radius: 50%;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.4rem;
  font-weight: bolder;
}
/* End of modal */

/* server modal controller */
.server-info {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-area {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  	font-family: 'Ubuntu', sans-serif;
  	font-weight: bold;
  	font-size: 20px;
}
.cancel {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cancel:hover,
.cancel:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* end of server modal controller */

/* Media queries */
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#boxes .box {
		float: none;
		text-align: center;
		width: 100%;
	}

	#boxes .box {
		margin: 1rem 0rem;
	}

	header h1 {
		font-size: 22px;
	}

	header {
		padding-bottom: 20px;
	}

	#showcase h1 {
		font-size: 30px;
	}
}