@import 'https://fonts.googleapis.com/css?family=Prompt:400,700';

html, body {
	font: 15px/1.5 'Prompt', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	height: 100%;
	width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Beginning of cool modal css handler */
#com-mod-con { position: fixed; height: 100%; width: 100%; top: 0; left: 0; transform: scale(0); z-index: 999; }
#com-mod-con.one { transform: scaleY(0) scaleX(0); animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
#com-mod-con.one .com-mod-bg .com-mod { transform: scale(0); animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
#com-mod-con.one.out { transform: scale(1); animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
#com-mod-con.one.out .com-mod-bg .com-mod { animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
#com-mod-con .com-mod-bg { background: rgba(0, 0, 0, .8); text-align: center; top: 0; left: 0; height: 100%; width: 100%; }
#com-mod-con .com-mod-bg .com-mod { background: white; padding: 20px; display: inline-block; border-radius: 6px; font-weight: 300; position: relative; top: 5%; overflow-y: scroll; width: 70%; height: 80%; }
@keyframes unfoldIn { 0% { transform: scaleY(0.005) scaleX(0); } 50% { transform: scaleY(0.005) scaleX(1); } 100% { transform: scaleY(1) scaleX(1); } }
@keyframes unfoldOut { 0% { transform: scaleY(1) scaleX(1); } 50% { transform: scaleY(0.005) scaleX(1); } 100% { transform: scaleY(0.005) scaleX(0); } }
@keyframes zoomIn { 0% { transform: scale(0); } 100% { transform: scale(1); } }
@keyframes zoomOut { 0% { transform: scale(1); } 100% { transform: scale(0); } }
/* End of cool modal css handler */

/* Commenting section */
/* Layout structure for the commenting section */ 
#comments-body { display: block; margin: 0 auto; padding-top: 0; padding-right: 45px; }
#comment-container { display: block; width: 100%; background: #fff; text-align: left; }
/* End of layout structure for the commenting section */

/* comments area */
#comments { display: block; }
#comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; padding-left: 65px; border-top: 1px solid #ddd; }
#comments .cmmnt .avatar { position: absolute; top: 8px; left: 0; }
#comments .cmmnt .avatar img { border-radius: 3px; -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44); -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44); box-shadow: 1px 1px 2px rgba(0,0,0,0.44); }
#comments .cmmnt .avatar a:hover img { opacity: 0.77; }
#comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 12px; padding-top: 8px; }
#comments .cmmnt .cmmnt-content header { font-size: 1.3em; display: block; margin-bottom: 8px; }
#comments .cmmnt .cmmnt-content header .pubtype { color: #777; }
#comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; } 
#comments .cmmnt .replies { margin-bottom: 7px; }
/* End of comments area */
/* End of the commenting section */





/* cool searcher style */
a#searcher {
	float: right;
  color: #FC2121;
  text-decoration: none;
  padding: 10px 15px;
  line-height: 3;
  -webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
				  transition: all .3s ease;
}

a#searcher:hover {
  color: #FFF;
  background: #FC2121;
  -webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
				  transition: all .3s ease;  
}

/* Search Style */ 
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
	       -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
	     -moz-transform: translate(0px, -100%) scale(0, 0);
	      -ms-transform: translate(0px, -100%) scale(0, 0);
         -o-transform: translate(0px, -100%) scale(0, 0);
	          transform: translate(0px, -100%) scale(0, 0);    
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
       -moz-transform: translate(0px, 0px) scale(1, 1);
    	  -ms-transform: translate(0px, 0px) scale(1, 1);
	       -o-transform: translate(0px, 0px) scale(1, 1);
	           transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 106;
    display: block;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
  	background: transparent;
  	border-top: 1px solid rgba(255, 255, 255, .8);
  	border-bottom: 2px solid rgba(255, 255, 255, .5);
  	border-left: 0px solid transparent;
  	border-right: 0px solid transparent;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    outline: none;
  	padding: 10px;
}
  
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
	  opacity: 1;
	  font-size: 27px;
  	color: #fff;
}

#search .close:hover{
  color: #FC2121;
  cursor: pointer;
}
/* end of cool searcher style */

#logo {
	height: 50px;
	width: 50px;
}

ul {
	margin: 0;
	padding: 0;
}

.button_1 {
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* Header */
#main-header{
	position: fixed;
	top: 0;
	left: 0;
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
	width: 100%;
	margin-top: 0;
	z-index: 49;
}

#main-header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

#main-header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

#main-header #branding {
	float: left;
}

#main-header #branding h1 {
	margin: 0;
}

#main-header nav {
	float: right;
	margin-top: 15px;
}

#main-header .highlight, header #main-header .current a {
	color: #e8491d;
	font-weight: bold;
}

#main-header a:hover {
	color: #cccccc;
	font-weight: bold;
}
/* End of header */

.highlight {
	color: #e8491d;
	font-weight: bold;
	font-size: 30px;
}

.container-wrapper {
	min-height: 100%;
}

#main-wrapper {
	padding-bottom: 60px;
}

.sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background: #f4f4f4;
	border-right: 2px #d4d4d4 solid;
	padding-top: 150px;
}

.sidebar nav {
	margin: auto;
	width: 90%;
	min-height: 60%;
}

.sidebar nav ul li {
	list-style-type: none;
	margin-bottom: 15px;
	cursor: pointer;
	font-weight: normal;
	padding-left: 5px;
}

.sidebar nav ul li:hover {
	font-weight: bolder;
	background: #e8491d;
	color: #ffffff;
	border-radius: 3px;
}

#main-content-container{
	position: relative;
	top: 140px;
	left: 230px;
	width: 70%;
	height: 100%;
	overflow: auto;
	margin-bottom: 50px;
}

#questions-area {
	min-height: 100%;
	height: auto;
}

/* user loader */
#loader {
	vertical-align: middle;
	width: 80px;
	height: 80px;
	margin: 10% 45%;
}

/* user loader */
#profileloader {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	margin: 0;
}

.question-container {
	width: 100%;
	min-height: 100px;
	background: transparent;
}

#add-answer {
	width: 90%;
	padding: 0px;
}

#add-answer textarea {
	width: 100%;
	min-height: 70px;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	font-size: 16px;
	margin-top: 60px;
	transition: all 300ms linear;
}


#add-answer input[type="submit"] {
	width: 100%;
	margin-bottom: 20px;
	border: none;
	outline: none;
	height: 40px;
	background: #e8491d;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-radius: 3px;
}

#add-answer input[type="submit"]:hover {
	background: #ffc107;
}

#question-full {
	width: 90%;
	padding: 10px;
	background: transparent;
  border-radius: 2px;
	border-left: 3px #000 solid;
  min-height: 80px;
  margin: 0 0 0 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#question-full-body {
	width: 90%;
	padding: 10px;
	background: #ffffff;
  border-radius: 2px;
	border-left: 3px #000 solid;
  min-height: 80px;
  margin: 0 0 0 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: -20px;
}


/* Answers card css */
.answers {
	float: none;
	padding: 10px 0;
	display: block;
	width: 90%;
	min-height: 140px;
}

.answer-card {
	float: left;
	width: 100%;
	padding: 0px;
	background: transparent;
  border-radius: 2px;
  height: 100%;
  margin: 0.1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.answer-card:hover {
	box-shadow: 0 2px 3px rgba(0,0,0,0.25), 0 3px 2px rgba(0,0,0,0.22);
}

.answers .side-bar {
	float: left;
	width: 10%;
	height: 100%;
	background: #d4d4d4;
	margin-right: 10px;
}

.answers .accepted {
	background: #006400 !important;
	color: #fff;
}

.main-answer-bar {
	float: left;
	width: 70%;
	height: 100%;
	padding: 20px 10px;
}

.side-bar .arrow-up {
	margin: 25px auto 4px auto;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f4f4f4;
}

.side-bar .arrow-up:hover {
	cursor: pointer;
  border-bottom: 20px solid #0f0;
}

.side-bar #score {
	margin: 0px auto;
	height: 20px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.side-bar .arrow-down {
	margin: 8px auto 25px auto;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f4f4f4;
}

.side-bar .arrow-down:hover {
	cursor: pointer;
  border-top: 20px solid #f00;
}

.accept-bar {
  width: 15%;
  height: 100%;
	font-family: 'Ubuntu', sans-serif;
	float: right;
}

button.accept-answer, button.view-comments {
	padding: 2px;
  border: 1px solid #888;
  border-radius: 4px;
	text-align: center;
	height: 50%;
	width: 70%;
	margin: 12px auto;
	font-weight: bold;
}

button.accept-answer:hover, button.view-comments:hover {
	cursor: pointer;
	background: #000064;
	color: #fff;
}

.question-card {
	float: none;
	width: 90%;
	padding: 0px;
	text-align: center;
	background: #ffffff;
  border-radius: 2px;
  min-height: 100px;
  margin: 0.2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.question-card:hover {
	box-shadow: 0 4px 5px rgba(0,0,0,0.25), 0 4px 5px rgba(0,0,0,0.22);
}

.question-card .side-bar {
	float: left;
	background: #e8491d;
	width: 5%;
	height: 100%;
}

.question-card .main-question-bar {
	float: left;
	background: transparent;
	width: 75%;
	height: 100%;
	text-align: left;
	padding: 15px 10px;
	font-family: 'Prompt', sans-serif;
	font-size: 20px;
	cursor: pointer;
}

.question-card .thread {
	width: 90% !important;
}

.main-question-bar .thread {
	width: 100% !important;
}

button.delete-question {
  padding: 2px;
  border: 1px solid #888;
  width: 20%;
  height: 25px;
  border-radius: 4px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-align: center;
	float: right;
	margin-top: 25px;
	margin-right: 4px;
}

button.delete-question:hover, button.delete-question:focus {
	background-color: #e8491d;
	cursor: pointer;
}
/* End of questions card */

/* Profile area */
.profile-card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  height: 400px;
  margin: 80px auto;
  text-align: center;
  font-family: arial;
  border-radius: 4%;
}

.profile-card:hover {
  box-shadow: 0 9px 10px rgba(0,0,0,0.25), 0 9px 10px rgba(0,0,0,0.22);
}

.profile-card .profile-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -50px;
  left: calc(50% - 75px);
}

.profile-card .card-body {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 50%
}

.profile-card .email, .profile-card  p {
  color: grey;
  font-size: 18px;
}

.profile-card button {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; 
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #35424a;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.profile-card a {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.profile-card a:hover {
  color: #e8491d;
  background: transparent;
}

.profile-card button:hover {
  opacity: 0.7;
}
/* End of profile area */

div#demo-msg {
	margin-top: 10px;
}

footer {
	color: #ffffff;
	background-color: #e8491d;
	padding: 20px;
	position: relative;
	text-align: center;
	height: 60px;
	margin-top: 60px;
	clear: both;
}


/* Modal */
.modal {
  display: block;
  width: 90%;
  max-width: 100%;
  height: 90%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  border-radius: 2%;
  transform: translate(-50%, -50%);
  background: #f4f4f4;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
  font-family: 'Prompt', sans-serif;
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  border-radius: 50%;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.4rem;
  font-weight: bolder;
}
/* End of modal */

/* server modal controller */
.server-info {
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-area {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  	font-family: 'Ubuntu', sans-serif;
  	font-weight: bold;
  	font-size: 20px;
}
.cancel {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cancel:hover,
.cancel:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* end of server modal controller */


.post-answer-box {
	width: 80%;
	height: 420px;
	background: #d4d4d4;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border-radius: 5px;
}

.post-answer-box h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.post-answer-box box p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.post-answer-box input {
	width: 100%;
	margin-bottom: 20px;
}

.post-answer-box input[type="text"] {
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
}

.post-answer-box textarea {
	width: 100%;
	height: 180px;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	font-size: 16px;
}

#form-comment-input {
	width: 100%;
	height: 40px;
	border: none;
	background: #e4e4e4;
	border-bottom: 1px solid #000;
	outline: none;
	font-size: 16px;
}

.post-answer-box #post-submit-button {
	border: none;
	outline: none;
	height: 40px;
	background: #e8491d;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-radius: 3px;
}

#comment-submit-button {
	border: none;
	outline: none;
	height: 40px;
	width: 100%;
	background: #e8491d;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-radius: 3px;
}

.post-answer-box #post-submit-button:hover, #comment-submit-button:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

@media(max-width: 768px){
	#main-header #branding,
	#main-header nav,
	#main-header nav li {
		float: none;
		text-align: center;
		width: 100%;
	}

	#main-header h1 {
		font-size: 22px;
	}

	#main-header {
		padding-bottom: 20px;
	}

	#main-content-container{
		position: relative;
		top: 10px;
		left: 20px;
		width: 100%;
		height: 100%;
		overflow: auto;
		margin-bottom: 50px;
	}

	.sidebar {
		position: static;
		width: 100%;
		height: auto;
		background: #f4f4f4;
		border: none;
		padding-top: 160px;
		margin-top: 30px;
	}

	.sidebar nav {
		border-bottom: 2px #d4d4d4 solid;
	}

	.sidebar nav ul li {
		margin-right: 15px;
		cursor: pointer;
		font-weight: normal;
		display: inline-block;
		list-style-type: none;
	}

	.side-bar .arrow-up {
		margin: 25px auto 4px auto;
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-bottom: 10px solid #f4f4f4;
	}

	.side-bar #score {
		margin: 0px auto;
		height: 10px;
		width: 100%;
		text-align: center;
		font-weight: bold;
	}

	.side-bar .arrow-down {
		margin: 10px auto 25px auto;
	  width: 0; 
	  height: 0; 
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-top: 10px solid #f4f4f4;
	}

	/* user loader */
	#loader {
		vertical-align: middle;
		width: 80px;
		height: 80px;
		margin: 10% 35%;
	}

	/* user loader */
	#profileloader {
		vertical-align: middle;
		width: 30px;
		height: 30px;
		margin: 0;
	}

	.question-card .main-question-bar {
		padding: 10px 10px;
		font-size: 14px;
	}

	footer {
		width: 110%;
	}
}